# This is a basic workflow to help you get started with Actions

ame: Flujo de trabajo para ejecutar los test
on:
workflow_dispatch:
push:
branches: [ arreglos ]
jobs:
Build:
runs-on: ubuntu-latest
env:
GITHUB_LOGIN: ${{ github.actor }}
GITHUB_PACKAGES: ${{ secrets.GITHUB_TOKEN }}
GITHUB_OAUTH: ${{ secrets.GITHUB_TOKEN }}
steps:
- name: Clonando el repositorio y estableciendo el espacio de trabajo
uses: actions/checkout@v3
- name: Configurando java
uses: actions/setup-java@v3
with:
distribution: 'temurin'
java-version: '16'
- name: Construyendo y probando el código
run: |
chmod +x gradlew
./gradlew jar
- run: echo "criramnav1"
Test:
runs-on: ubuntu-latest
needs: Build
steps:
- name: Clonando el repositorio y estableciendo el espacio de trabajo
uses: actions/checkout@v3
- name: Configurando java
uses: actions/setup-java@v3
with:
distribution: 'temurin'
java-version: '16'
- name: Construyendo y probando el código
run: |
chmod +x gradlew
./gradlew test
- run: echo "criramnav1"
